.back {
    text-transform: uppercase;
    width: 100%;
    max-width: 1200px;
    margin: 0 150px;
    margin-top: 100px;
    font-size: 10px;
}

.back__link {
    color: burlywood;
    text-decoration-color: chocolate;
    position: relative;
}

.back__link:hover {
    color: yellow;
}
.body {
    background-color: whitesmoke;
}

.container__intro {
    position: absolute;
    top: 10%;
    left: 17%;
    transform: (-50%,-50%);
}

.container__intro span {
    text-transform: uppercase;
    display: block;
}


.intro1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background-color: aquamarine;
    position: relative;
    animation: text 3s 1;
}

.intro2 {
    color: cadetblue;
    font-size: 30px;
}

@keyframes text {
    0% {
        color: #000;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.intro {
    font-family: 'Roboto', sans-serif;
    color: #333f;
    line-height: 1.6;
    font-size: 20px;
    margin: 10%;
    letter-spacing: 2px;
}

.bye {
    font-family: 'Roboto', sans-serif;
    color: #333f;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 75%;
    padding-top: 5%;
}

.reference {
    font-family: 'Roboto', sans-serif;
    color: #333f;
    font-size: 25px;
    letter-spacing: 1px;
    padding-left: 20%;
    text-indent: 2%;
}